<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include ("../partials/header.ejs") %>

    <main>
      <div class="cart-container">
        <div class="title">
          <a href="/" class="return">Volver</a>
          <h2>Carrito de compras</h2>
        </div>
        <div class="cart-table-container">
          <table>
            <thead>
              <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio unitario</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="products">
              <!-- <tr>
                <td class="product-cell">
                  <div class="product-info">
                    <img src="https://via.placeholder.com/60x60" alt="Producto 1">
                    <div class="product-details">
                      <p>Producto 1</p>
                      <small>SKU: 123456</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="quantity-container">
                    <button class="quantity-button minus-button">-</button>
                    <input class="quantity-input" type="number" min="1" max="99" value="1">
                    <button class="quantity-button plus-button">+</button>
                  </div>
                </td>
                <td class="price-cell">$20.00</td>
                <td class="total-cell">$20.00</td>
                <td class="delete-cell"><button class="delete-button">Eliminar</button></td>
              </tr>
              <tr>
                <td class="product-cell">
                  <div class="product-info">
                    <img src="https://via.placeholder.com/60x60" alt="Producto 2">
                    <div class="product-details">
                      <p>Producto 2</p>
                      <small>SKU: 789012</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="quantity-container">
                    <button class="quantity-button minus-button">-</button>
                    <input class="quantity-input" type="number" min="1" max="99" value="2">
                    <button class="quantity-button plus-button">+</button>
                  </div>
                </td>
                <td class="price-cell">$15.00</td>
                <td class="total-cell">$30.00</td>
                <td class="delete-cell"><button class="delete-button">Eliminar</button></td>
              </tr> -->
            </tbody>
          </table>
        </div>
        <div class="cart-summary" id="cart-summary">
          <!-- <div class="subtotal">
            <p>Subtotal</p>
            <p>$50.00</p>
          </div>
          <div class="taxes">
            <p>Impuestos</p>
            <p>$10.00</p>
          </div>
          <div class="total">
            <p>Total</p>
            <p>$60.00</p>
          </div>
          <button class="checkout-button">Finalizar compra</button> -->
        </div>
      </div>
      <!-- <div id="products">
    
      </div> -->
      <script src="/js/cart/common.js"></script>
      <script src="/js/cart/cart.js"></script>
      
    </main>

    <%- include ("../partials/footer.ejs") %>
  </body>
</html>