<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include ("../partials/header.ejs") %>

    <main>
      <div class="cart-container">
        <div class="title">
          <a href="/" class="return">Volver</a>
          <h2>Carrito de Compras</h2>
        </div>
        <div class="cart-table-container">
          <table>
            <thead>
              <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio unitario</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="products">
              
            </tbody>
          </table>
        </div>
        <div class="cart-summary" id="cart-summary">
          
        </div>
      </div>

      <script src="/js/cart/common.js"></script>
      <script src="/js/cart/cart.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      
    </main>

    <%- include ("../partials/footer.ejs") %>
  </body>
</html>