<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fd87f10e95.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/cart.css">
</head>

<body>
    <header>
        <div class="main-header">
            HEADER
        </div>
    </header>

    <main class="main">
        <section class="seccionPrincipal">
            <div class="producto">
                <img class="imageProducto" src="../public/image/zapa-adidas-azul.jpg" alt="Adidas Galaxy 5"> </img>
                <p>Nombre de Producto</p>
                <p>Precio</p>
                <p>Código de Articulo</p>
            </div>
            <div class="pagos">
                <p>Método de Pago</p>
                <ul>
                    <li>Tarjeta de Crédito</li>
                    <li>Tarjeta de Débito</li>
                    <li>Efectivo</li>
                </ul>
            </div>
        </section>
        <section class="seccionSecundaria">
            <p>También te podría interesar</p>
            <div class="productosInteres">
                <div>
                    <img class="image" src="../public/image/zapa-adidas-blanca.jpg" alt="Adidas Galaxy 5"> </img>
                    <p>Nombre de Producto</p>
                    <p>Precio</p>
                </div>
                <div>
                    <img class="image" src="../public/image/zapa-adidas.jpg" alt="Adidas Galaxy 5"> </img>
                    <p>Nombre de Producto</p>
                    <p>Precio</p>
                </div>
                <div>
                    <img class="image" src="../public/image/zapa-adidas2.jpg" alt="Adidas Galaxy 5"> </img>
                    <p>Nombre de Producto</p>
                    <p>Precio</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div>
            FOOTER
        </div>
    </footer>
</body>


</html>