<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a4adebf73c.js"
      crossorigin="anonymous"
    ></script>
    <title>Home</title>
  </head>
  <body>
    <header class="main-header">
      <h3>>>>> Envio gratis en compras a partir de los $ >>>></h3>
      <div class="main-header-top-bar">
        <img class="header-logo" src="./design/logo_white_large.png" alt="" />

        <div class="header-input-botton">
          <input type="input" class="header-input" value="Buscar" />
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>

        <ul class="header-right-bar">
          <li>
            <a href="/register"><i class="fa-solid fa-user"></i></a>
          </li>
          <li>
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-regular fa-circle-question"></i></a>
          </li>
        </ul>
      </div>

      <div class="main-header-bottom-bar">
        <nav class="main-navbar">
          <ul>
            <li><a href="#">New In</a></li>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Hombre</a></li>
            <li><a href="#">Mujer</a></li>
            <li><a href="#">Marcas</a></li>
            <li><a href="#">SALE</a></li>
            <li><a href="#">Niños</a></li>
          </ul>
        </nav>
      </div>

      <a href="#" class="hamburguer-button">
        <i class="fa-solid fa-bars"></i>
      </a>
    </header>

    <main>
      <h2>All-sports</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, maxime?
        Quas dolor, voluptas veritatis explicabo minus architecto porro beatae
        sint error. Pariatur exercitationem dicta unde, quia distinctio quo
        explicabo ex!
      </p>
      <pre>
        
                            __ooooooooo__
                         oOOOOOOOOOOOOOOOOOOOOOo
                     oOOOOOOOOOOOOOOOOOOOOOOOOOOOOOo
                  oOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOo
                oOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOo
              oOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOo
             oOOOOOOOOOOO*  *OOOOOOOOOOOOOO*  *OOOOOOOOOOOOo
            oOOOOOOOOOOO      OOOOOOOOOOOO      OOOOOOOOOOOOo
            oOOOOOOOOOOOOo  oOOOOOOOOOOOOOOo  oOOOOOOOOOOOOOo
           oOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOo
           oOOOO     OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO     OOOOo
           oOOOOOO OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO OOOOOOo
            *OOOOO  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO  OOOOO*
            *OOOOOO  *OOOOOOOOOOOOOOOOOOOOOOOOOOOOO*  OOOOOO*
             *OOOOOO  *OOOOOOOOOOOOOOOOOOOOOOOOOOO*  OOOOOO*
              *OOOOOOo  *OOOOOOOOOOOOOOOOOOOOOOO*  oOOOOOO*
                *OOOOOOOo  *OOOOOOOOOOOOOOOOO*  oOOOOOOO*
                  *OOOOOOOOo  *OOOOOOOOOOO*  oOOOOOOOO*
                     *OOOOOOOOo           oOOOOOOOO*
                         *OOOOOOOOOOOOOOOOOOOOO*
                              ""ooooooooo""
      </pre>
    </main>

    <footer>
      <div class="footer-main-div">
        <div class="footer-div">
          <img class="footer-logo" src="./design/logo_small.png" alt="" />
        </div>
        <div class="footer-div">
          <!-- <div class="footer-div-icon">
            <i class="fa-solid fa-users footer-icon"></i>
          </div> -->
          <h3 class="footer-title">Institucional</h3>
          <p class="footer-text">
            Quiénes Somos
            Políticas de Privacidad
            Protocolos COVID-19
            Términos y Condiciones
            Sustentabilidad
            Defensa del Consumidor
          </p>
        </div>

        <div class="footer-div">
          <!-- <div class="footer-div-icon">
            <i class="fa-solid fa-users footer-icon"></i>
          </div> -->
          <h3 class="footer-title">Seguinos</h3>
          <p class="footer-text">
            Twitter
            Facebook
            Instagram
          </p>
        </div>

        <div class="footer-div">
          <!-- <div class="footer-div-icon">
            <i class="fa-solid fa-users footer-icon"></i>
          </div> -->
          <h3 class="footer-title">News Letter</h3>
          <p class="footer-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A corporis
            aspernatur aliquid adipisci.
          </p>
        </div>
      </div>

      <h4 class="footer-text">Copyright © 2022-2023 All-sports</h4>
    </footer>
  </body>
</html>
