<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product-Detail</title>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/fd87f10e95.js" crossorigin="anonymous"></script> 
  <link rel="stylesheet" href="/css/productDetail.css">
  <link rel="stylesheet" href="/css/index.css">
</head>


<body>
  <header class="main-header">
    <h3>>>>> Envio gratis en compras a partir de los $ >>>></h3>
    <div class="main-header-top-bar">
      <div class="header-top-bar-container">
        <img class="header-logo" src="./design/logo_white_large.png" alt="" />
      </div>

      <div class="header-input-botton">
        <input type="input" class="header-input" placeholder="Buscar..." />
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>

      <ul class="header-right-bar">
        <li>
          <a href="/register"><i class="fa-solid fa-user"></i></a>
        </li>
        <li>
          <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-regular fa-circle-question"></i></a>
        </li>
      </ul>
    </div>

    <div class="main-header-bottom-bar">
      <nav class="main-navbar">
        <ul>
          <li><a href="#">New In</a></li>
          <li><a href="#">Categorias</a></li>
          <li><a href="#">Hombre</a></li>
          <li><a href="#">Mujer</a></li>
          <li><a href="#">Marcas</a></li>
          <li><a href="#">SALE</a></li>
          <li><a href="#">Niños</a></li>
        </ul>
      </nav>
    </div>

    <div class="main-header-mobile-container">
      <div class="header-left-navbar">
        <a href="#"><i class="fa-solid fa-bars"></i></a>
      </div>

      <div class="header-top-bar-container">
        <a href="/"><img class="header-logo" src="./design/logo_white_large.png" alt="" /></a>
      </div>

      <ul class="header-right-navbar">
        <li>
          <a href="/register"><i class="fa-solid fa-user"></i></a>
        </li>
        <li>
          <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </li>
      </ul>
    </div>

    <div class="site-search">
      <button type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <input type="input" class="header-input" placeholder="Buscar..." />
    </div>
  </header>

  <main>
   <div class="product"> 
      <img class="image" src="/images/zapa-adidas-azul.jpg" alt="Adidas Galaxy 5"> </img>
   
      <!-- <div class="column1"> -->

         <div class="icons">
          <div class="heart"> <i class="fa-regular fa-heart"></i></div>
          <!-- <div class="cart"> <i class="fa-solid fa-cart-shopping"></i></div> -->
          <a class="cart" href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
  
         <!-- <div class="waist">   
          <h3> Talles </h3>
          <select name="talles" id="talles">
            <option value="36 (EUR 37)"> 36 (EUR 37) </option>
            <option value="37 (EUR 38)"> 37 (EUR 38) </option>
            <option value="38 (EUR 39)"> 38 (EUR 39) </option>
            <option value="39 (EUR 40)"> 39 (EUR 40) </option>
            <option value="40 (EUR 41)"> 40 (EUR 41) </option>
            <option value="41 (EUR 42)"> 41 (EUR 42) </option>
            <option value="42 (EUR 43)"> 42 (EUR 43) </option>
            <option value="43 (EUR 44)"> 43 (EUR 44) </option>
            <option value="44 (EUR 45)"> 44 (EUR 45) </option>
            <option value="45 (EUR 46)"> 45 (EUR 46) </option>
          </select>
        </div>
    </div> -->
      <div class="column2">
        <div class= "description">
          <h3 class="description-name"> Adidas Galaxi 5  </h3>
          <h3 class= "description-price"></h3> $34000 </h3>
          <h3 class= "description-code"> AdiAzuDep </3>
      </div> 
      <!-- <div class="amount">  
            <h3> Cantidad </h3>
            <select name="cantidad" id="cantidad">
              <option value="1"> 1 </option>
              <option value="2"> 2 </option>
              <option value="3"> 3 </option>
              <option value="4"> 4 </option>
              <option value="5"> 5 </option>
          </select>
      </div> -->

        <!-- <div class="color">
          <h3> Selecciona tu color </h3>
            <div class ="input-color">
            
                <input class= "button-white" type="color" value="#ffffff" name="color" id="color"> 
                <imput class= "label-white" type="text" value="color"> 
              
        </div> -->
      
      
      <div class="detail">
        <br>
        <h4> Lorem ipsum, elit. Enim porro optio quaerat dignissimos, amet. Rerum est doloremque, perferendis quos maxime iusto soluta quis pariatur velit hic!</h4>
      </div> 
    </div>
    
    <br>
   </div>  
      <div class="product2"> 
        <img class="image2" src="/images/zapa-adidas-blanca.jpg" alt="Adidas Gran Prix"> </img>
       
          <div class="icons">
            <div class="heart"> <i class="fa-regular fa-heart"></i></div>
            <div class="cart"> <i class="fa-solid fa-cart-shopping"></i></div>
          </div>
        
          <div class="column2">
            <div class= "description">
              <h3 class="description-name"> Adidas Gran Prix  </h3>
              <h3 class= "description-price"></h3> $29500 </h3>
              <h3 class= "description-code"> AdiBlaBes </3>
            </div> 
          
      
        <div class="detail">
          <br>
          <h4> Lorem ipsum, elit. Enim porro optio quaerat dignissimos, amet. Rerum est doloremque, perferendis quos maxime iusto soluta quis pariatur velit hic!</h4>
        </div>
    </div>
  </div>
    <div class="product3"> 
      <img class="image3" src="/images/zapa-adidas.jpg" alt="Adidas Court"> </img>
     
        <div class="icons">
          <div class="heart"> <i class="fa-regular fa-heart"></i></div>
          <div class="cart"> <i class="fa-solid fa-cart-shopping"></i></div>
        </div>
      
        <div class="column2">
          <div class= "description">
            <h3 class="description-name"> Adidas Court </h3>
            <h3 class= "description-price"></h3> $39000 </h3>
            <h3 class= "description-code"> AdiNyADep </3>
          </div> 
        
      <br>
      
      <div class="detail">
        <br>
        <h4> Lorem ipsum, elit. Enim porro optio quaerat dignissimos, amet. Rerum est doloremque, perferendis quos maxime iusto soluta quis pariatur velit hic!</h4>
      </div>
  </div>
  </div>
  <div class="product4"> 
    <img class="image4" src="/images/zapa-adidas2.jpg" alt="Adidas Court Pro"> </img>
   
      <div class="icons">
        <div class="heart"> <i class="fa-regular fa-heart"></i></div>
        <div class="cart"> <i class="fa-solid fa-cart-shopping"></i></div>
      </div>
    
      <div class="column2">
        <div class= "description">
          <h3 class="description-name"> Adidas Court Pro  </h3>
          <h3 class= "description-price"></h3> $39500 </h3>
          <h3 class= "description-code"> AdiNyBDep </3>
        </div> 
      
    <br>
    
    <div class="detail">
      <br>
      <h4> Lorem ipsum, elit. Enim porro optio quaerat dignissimos, amet. Rerum est doloremque, perferendis quos maxime iusto soluta quis pariatur velit hic!</h4>
    </div>
</div>







  </main>
  
  <footer>
    <div class="footer-main-div">
      <div class="footer-div">
        <img class="footer-logo" src="./design/logo_small.png" alt="" />
      </div>
      <div class="footer-div">
        <h3 class="footer-title">Institucional</h3>
        <p class="footer-text">
          Quiénes Somos Políticas de Privacidad Términos y Condiciones
        </p>
      </div>

      <div class="footer-div">
        <h3 class="footer-title">Seguinos</h3>
        <ul class="footer-social-bar">
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
          </li>
        </ul>
      </div>

      <div class="footer-div">
        <!-- <div class="footer-div-icon">
          <i class="fa-solid fa-users footer-icon"></i>
        </div> -->
        <h3 class="footer-title">Eventos</h3>
        <p class="footer-text">
          Black Friday
          Cyberlunes
          Hot Sale.
        </p>
      </div>
    </div>

    <h4 class="footer-text">
      Copyright © 2022-2023 All-sports Todos los derechos reservados.
    </h4>
  </footer>

</body>
</html>