<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product-Detail</title>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/fd87f10e95.js" crossorigin="anonymous"></script> 
  <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>
  <div class="menu-var">
    <div class="waist">   
            <h3> Talles </h3>
            <h3 class="letter"> XXXL </h3>
            <h3 class="letter"> XXL </h3>
            <h3 class="letter"> XL </h3>
            <h3 class="letter"> L </h3>
            <h3 class="letter"> M </h3>
            <h3 class="letter"> S </h3>
    </div>
    <div class="product"> 
      <img class="image" src="/image/zapa-adidas-azul.jpg" alt="Adidas Galaxy 5"> </img>
        
        <div class = "icons">
            <div class= "heart"> <i class="fa-regular fa-heart"></i></div>
            <div class= "cart"> <i class="fa-solid fa-cart-shopping"></i></div>
            <h3> Color </h3>


            <div class ="input-color">
              <input type="radio" name="color" id="BLANCO">
              <label class= "white" for="blanco">Blanco</label>
            
              <input type="radio" name="color" id="NEGRO">
              <label class= "black" for="negro">Negro</label>
              
              <input type="radio" name="color" id="AZUL">
              <label class= "blue"for="azul">Azul </label>
              
              <input type="radio" name="rojo" id="ROJO">
              <label class= "red" for="rojo">Rojo</label>


            </div>
            
          </div>
      </div>
  
  </div>

  
</body>
</html>