<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/css/register.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" >
</head>
<body>
  <header class="main-header">
      <h3>>>>> Envio gratis en compras a partir de los $ >>>></h3>
      <div class="main-header-top-bar">
        <a href="/">
        <img class="header-logo" src="./design/logo_white_large.png" alt="" />
        </a>
        <div class="header-input-botton">
          <input type="input" class="header-input" value="Buscar" />
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>

        <ul class="header-right-bar">
          <li>
            <a href="/login"><i class="fa-solid fa-user"></i></a>
          </li>
          <li>
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-regular fa-circle-question"></i></a>
          </li>
        </ul>
      </div>

      <div class="main-header-bottom-bar">
        <nav class="main-navbar">
          <ul>
            <li><a href="#">New In</a></li>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Hombre</a></li>
            <li><a href="#">Mujer</a></li>
            <li><a href="#">Marcas</a></li>
            <li><a href="#">SALE</a></li>
            <li><a href="#">Niños</a></li>
          </ul>
        </nav>
      </div>

      <a href="#" class="hamburguer-button">
        <i class="fa-solid fa-bars"></i>
      </a>
  </header>

  <main>
    <div class="principal-box">

      <div class="title">
          <h2 class="title-register">Registrarme</h2>
      </div>

      <div class="content-box-register">
        <form action="/" method="">
          <div>
            <label for="username">Nombre</label>
            <input type="text" name="name" id="username" required>
            <i class="fa-solid fa-user"></i>
          </div>
          <div>
            <label for="username">Apellido</label>
            <input type="text" name="lastname" id="userlastname">
            <i class="fa-solid fa-user"></i>
          </div>
          <div>
            <label for="username">Email</label>
            <input type="email" name="email" id="useremail" required>
            <i class="fa-solid fa-envelope"></i>
          </div>
          <div>
            <label for="username">Contraseña (mínimo 8 caracteres)</label>
            <input type="password" name="password" id="userpassword" required>
            <i class="fa-solid fa-lock"></i>
          </div>
          <div>
            <label for="genre">Género</label>
            <select name="genre" placeholder="Seleccionar" id="genre">
              <option>Masculino</option>
              <option>Femenino</option>
              <option>Otros</option>
            </select>
          </div>

          <div class="terms-box">
              <label class="terms-box-label"><input type="checkbox" name="accepted-terms" value="">
                Acepto las 
                <a href=""> Políticas de Privacidad y Términos y Condiciones</a>
              </label>
              <label class="terms-box-label"><input type="checkbox" name="accepted-promotions" value="">
                Quiero recibir emails de promociones y noticias.  
              </label>
          </div>

          <div class="register-button">
              <button type="submit">CREAR CUENTA</button>
          </div>

        </form>
      </div>

    </div>
  </main>

  <footer>
    <div class="footer-main-div">
      <div class="footer-div">
        <img class="footer-logo" src="./design/logo_small.png" alt="" />
      </div>
      <div class="footer-div">
        <!-- <div class="footer-div-icon">
          <i class="fa-solid fa-users footer-icon"></i>
        </div> -->
        <h3 class="footer-title">Institucional</h3>
        <p class="footer-text">
          Quiénes Somos
          Políticas de Privacidad
          Protocolos COVID-19
          Términos y Condiciones
          Sustentabilidad
          Defensa del Consumidor
        </p>
      </div>

      <div class="footer-div">
        <!-- <div class="footer-div-icon">
          <i class="fa-solid fa-users footer-icon"></i>
        </div> -->
        <h3 class="footer-title">Seguinos</h3>
        <p class="footer-text">
          Twitter
          Facebook
          Instagram
        </p>
      </div>

      <div class="footer-div">
        <!-- <div class="footer-div-icon">
          <i class="fa-solid fa-users footer-icon"></i>
        </div> -->
        <h3 class="footer-title">News Letter</h3>
        <p class="footer-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. A corporis
          aspernatur aliquid adipisci.
        </p>
      </div>
    </div>

    <h4 class="footer-text">Copyright © 2022-2023 All-sports</h4>
  </footer>

</body>
</html>