<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/css/register.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" >
</head>
<body>
  
  <header>
    <div class="main-header">
        HEADER
    </div>
  </header>

  <main>
    <div class="principal-box">

      <div class="title">
          <h2 class="title-register">Registrarme</h2>
      </div>

      <div class="content-box-register">
        <form action="/" method="">
          <div>
            <label for="username">Nombre</label>
            <input type="text" name="name" id="username" required>
            <i class="fa-solid fa-user"></i>
          </div>
          <div>
            <label for="username">Apellido</label>
            <input type="text" name="lastname" id="userlastname">
            <i class="fa-solid fa-user"></i>
          </div>
          <div>
            <label for="username">Email</label>
            <input type="email" name="email" id="useremail" required>
            <i class="fa-solid fa-envelope"></i>
          </div>
          <div>
            <label for="username">Contraseña (mínimo 8 caracteres)</label>
            <input type="password" name="password" id="userpassword" required>
            <i class="fa-solid fa-lock"></i>
          </div>
          <div>
            <label for="genre">Género</label>
            <select name="genre" placeholder="Seleccionar" id="genre">
              <option>Masculino</option>
              <option>Femenino</option>
              <option>Otros</option>
            </select>
          </div>
          <div class="terms-box">
          
            <label><input type="checkbox" name="accepted-terms" value="">
              Acepto las 
              <a href=""> Políticas de Privacidad y Términos y Condiciones</a>
            </label>
  
            <label><input type="checkbox" name="accepted-promotions" value="">
              Quiero recibir emails de promociones y noticias.  
            </label>

          <div class="register-button">
              <button type="submit">CREAR CUENTA</button>
          </div>
          
        </div>
        </form>
      </div>

      

      

    </div>
  </main>

  <footer>
    <div>
      FOOTER
    </div>
  </footer>

</body>
</html>