a {
  text-decoration: none;
}

header {
  background-color: #225be0;
  width: 100%;
  color: aliceblue;

}

input { 
  font-size: 1rem;
  color: darkgray; 
}

.main-header {
  border: #1259c3;
}

.main-header h3 {
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  background-color: #052b63;
}



.header-ul {
  margin-top: 10px;
}

.main-header-top-bar {
  display: none;
}

.main-header-bottom-bar {
  display: none;
}

.header-top-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.main-navbar{
  display: none;
}

.main-navbar ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.header-logo {
  width: 150px;
}

.header-text {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  font-weight: lighter;
}

.header-right-bar {
  list-style: none;
  display: flex;
}

.header-right-bar li, .header-right-navbar li {
  margin: 0 10px;
}

.header-right-bar li a, .header-right-navbar li a{
  font-size: 20px;
}

li a {
  color: aliceblue;
  font-size: 12px;
}

.burger-menu {
  width: 35px;
  height: 35px;
  background-color: #1259c3;
  border-radius: 8px;
}

.hamburguer-button {
  background-color: #1259c3;
  color: white;
  display: block;
  max-width: 30px;
  max-height: 30px;
  padding: 5px 0;
  margin-top: 20px;
  margin: auto;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
}

.main-header-mobile-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header-right-navbar {
  display: flex;
  list-style: none;
}

.header-left-navbar {
  display: flex;
  list-style: none;
}
.header-left-navbar a{
  color:  white;
  font-size: 20px;
}
.site-search {
  display:  flex;
}

@media (min-width: 361px) {
  .header-right-bar {
    justify-content: space-between;
  }

  .header-input {
    width: 100%;
    height: 40px;
  }
}

@media(min-width: 768px) {

  /********************* HEADER *********************/
  .main-navbar {
    max-width: 1200px;
    margin: auto;
  }
  .main-header-top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  .main-header-bottom-bar{
    padding: 10px;
    background-color: #052b63;
    display: flex;
  }
  .header-text {
    max-width: 300px;
    text-align: right;
  }
  .header-logo {
    padding: 0px
  }

  .header-input {
    margin-left: 20px;
    width: 280px;
    height: 20px;
  }
  
  .header-input-botton {
    display: flex;
  }

  .hamburguer-button {
    display: none;
  }
  .main-navbar {
    display: flex;
  }
  .main-navbar ul {
    display: flex;
  }
  .main-navbar li {
    margin: 0 8px;
  }

  .main-header-mobile-container, .site-search {
    display: none;
  }
}

@media (min-width: 1200px) {

  /********************* HEADER *********************/
  .main-header-top-bar, .main-navbar {
    max-width: 1200px;
    margin: auto;
  }
  .main-header-top-bar{
    display: flex;
    align-items: center;
  }
  .main-navbar {
    margin-top: 20px;
  }

  .header-text {
    max-width: none;
    text-align: right;
    font-size: 20px;
    margin: 0;
  }
}