* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* ---------------------------HEADER---------------------------- */
a {
  text-decoration: none;
}

header {
  background-color: #225be0;
  width: 100%;
  padding-bottom: 10px;
  color: aliceblue;

}

input { 
  font-size: 1rem;
  color: darkgray; 
}

.main-header {
  border: #1259c3;
}

.main-header h3 {
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  margin: 5px 0;
  background-color: #052b63;
}

.header-input {
  margin-left: 20px;
}

.header-input-botton {
  display: flex;
  margin-top: 10px;
}

.header-ul {
  margin-top: 10px;
}

.main-header-top-bar {
  padding: 10px;
}

.main-header-bottom-bar{
  padding: 10px;
  background-color: black;
  display: flex;
}

.main-navbar{
  display: none;
}

.main-navbar ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.header-logo {
  width: 250px;
}

.header-text {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  font-weight: lighter;
}

.header-right-bar {
  list-style: none;
  display: flex;
  margin-top: 10px;
}

.header-right-bar li {
  margin: 0 10px;
}

.header-right-bar li a{
  font-size: 20px;
}

li a {
  color: aliceblue;
  font-size: 12px;
}

.burger-menu {
  width: 35px;
  height: 35px;
  margin: 10px auto;
  background-color: #1259c3;
  border-radius: 8px;
}

.fa-bars-old {
  font-size: 18px;
  color: white;
  text-align: center;
  margin-left: 9px;
  margin-top: 8px;
}

.hamburguer-button {
  background-color: #1259c3;
  color: white;
  display: block;
  max-width: 30px;
  max-height: 30px;
  padding: 5px 0;
  margin-top: 20px;
  margin: auto;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
}

/* ---------------------------FOOTER---------------------------- */
footer {
  background-color: #1259c3;
  color: aliceblue;
}

.footer-div-icon {
  width: 2em;
  height: 2em;
  margin: 5px auto;
  margin-bottom: 10px;
}

.footer-icon {
  color: #1259c3;
  font-size: 2em;
}

.footer-title {
  text-align: center;
}

.footer-text {
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
}

.footer-div {
  margin: 20px;
}

.footer-logo {
  width: 150px;
}

@media (min-width: 361px) {

}

@media(min-width: 768px) {
  .main-navbar {
    max-width: 1200px;
    margin: auto;
  }
  .main-header-top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-text {
    max-width: 300px;
    text-align: right;
  }

  .hamburguer-button {
    display: none;
  }
  .main-navbar {
    display: flex;
  }
  .main-navbar ul {
    display: flex;
  }
  .main-navbar li {
    margin: 0 8px;
  }

  footer .footer-main-div{
    display: flex;
  }

  footer .footer-div {
    display: flex;
    flex-direction: column;
  }

  footer .footer-icon:hover{
    color:  #3498db;
  }

}

@media (min-width: 1200px) {
  .main-header-top-bar, .main-navbar {
    max-width: 1200px;
    margin: auto;
  }
  .main-header-top-bar{
    display: flex;
    align-items: center;
  }
  .main-navbar {
    margin-top: 20px;
  }

  .header-text {
    max-width: none;
    text-align: right;
    font-size: 20px;
    margin: 0;
  }

  .main-navbar li {
    margin: 0 10px;
  }

  .main-navbar a {
    font-size: 19px;
  }
}