* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
main {
  margin-top: 0px;
}

/********************* BANNER *********************/
.banner-img {
  display: flex;
  margin-top: 130px;
}
.banner-img a img{
  width: 100%;
  height: 100%;
}

.banner-img-2 {
  text-align: center;
}
.banner-img-2 a img{
  width: 100%;
  height: 35vh;
}

/********************* MAIN *********************/
.blank-field{
  background: linear-gradient(to right, rgb(174, 189, 227), rgb(187, 159, 148));
  height: 500px;
}

.article-image {
  width: 100%;
  padding: 0;
}

.article-image-container {
  position: relative;
}

body {
  background: linear-gradient(to right, rgb(220, 227, 246), rgb(244, 241, 231));
}

.main-section-tittle {
  margin: 20px;
  font-size: 30px;
}

.main-section {
  width: 90vw;
  margin-left: 5vw;
  text-align: center;
}

.main-article {
  margin: 10px;
}

.article-logo-shipping {
  background-color: white;
  width: 35px;
  height: 35px;
  margin: 10px auto;
  border: solid 1px rgb(2, 173, 2);
  border-radius: 50%;
  position: absolute;
  right: 21px;
  top: -29px;
}
.article-heart-shipping {
  width: 35px;
  height: 35px;
  margin: 10px auto;
  border-radius: 50%;
  position: absolute;
  right: 9px;
  top: 0px;
}

.article-discount-shipping {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  position: absolute;
  background-color: red;
  color: white;
  font-size: 15px;
  text-align: center;
  right: 3px;
  top: -44px;
}

.fa-truck {
  font-size: 15px;
  color: rgb(2, 173, 2);
  text-align: center;
  line-height: 40px;
  margin-left: 2px;
  margin-top: 8px;
}
.fa-heart {
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 40px;
  margin-left: 0px;
  margin-top: 9px;
}

.fa-heart:hover {
  color: rgb(226, 43, 43);
}

.fa-truck:hover {
  transition: 1s;
  transform: rotate(-90deg);
}
.article-name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.article-price {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.article-discount, .article-price-neto{
  margin: 0 5px;
}

.article-price-neto{
  text-decoration: line-through;
}

.article-discount,
.article-description{
    font-size: 16px;
    font-weight: normal;
}

.article-description {
  display: none;
  margin-top: 20px;
  color: #666;
}
.article-animation-container {
  display: none;
  margin-top: 20px;
}

.article-information-div {
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 15px;
}

.article-discount {
  color: rgb(2, 173, 2);
}

main section article :hover .article-description {
  display: block;
}
main section article :hover .article-animation-container {
  display: flex;
  flex-direction: column;
}

.add-cart-button {
  background: linear-gradient(to right, #061b3b, #052b63);
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  width: 70%;
  align-self: center;
  margin-bottom: 15px;
}

.product-size{
  width: 70%;
  margin-bottom: 15px;
  align-self: center;
  height: 30px;
  border-radius: 6px;
  text-align: center;
}

.add-cart-button:hover {
  background: linear-gradient(to right, #052b63, #1259c3);
}

/* main section article .article-image-container :hover .article-description {
  display: block;
} */

.marcas {
  display: block;
}

.component-image {
  width: 11%;
}

@media (min-width: 361px) {

  main section article :hover .article-image{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main section article :hover .article-information-div{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main section div.products, #products, #newest-products, #recommended-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  main section div.products article{
    width: 44%;
  }
  #products article{
    width: 44%;
  }
  #newest-products article{
    width: 44%;
  }
  #recommended-products article{
    width: 44%;
  }


}

@media(min-width: 768px) {

  /********************* BANNER *********************/
  .banner-img a img{
    height: 350px;
  }

  /********************* MAIN *********************/
  main section div.products article{
    width: 22%;
  }
  #products article{
    width: 22%;
  }
  #newest-products article{
    width: 22%;
  }
  #recommended-products article{
    width: 22%;
  }

}

@media (min-width: 1200px) {

  /********************* BANNER *********************/
  .banner-img a img {
    height: 600px;
  }
}