* {
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ---------------------------MAIN---------------------------- */

main {
    background: linear-gradient(to right, rgb(174, 189, 227), rgb(187, 159, 148));
    text-align: center;
    width: 100%;
    padding: 15px;
}

.imageProducto {
    width: 250px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.seccionPrincipal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    flex-direction: row;
    padding: 2%;
    margin-bottom: 20px;
}

.producto>div {
    border: solid 1px blue;
    border-radius: 20px;
}

.producto>div:hover {
    box-shadow: 0px 0px 10px blueviolet;
    background-color: #2D4263;
}

.informacion {
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.amount {
    display: flex;
    justify-content: space-around;
}

.amount button {
    width: 20vw;
    height: 20px;
    font-size: 13px;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    background: linear-gradient(to right, rgb(2, 2, 75), rgb(5, 5, 150));
}

.tarjetas {
    width: 30%;
    height: 30%;
}

.pagos {
    font-size: 15px;
}

.carritoPopup {
    background-color: rgb(174, 189, 227);
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    left: 50%;
    padding: 20px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    z-index: 9999;
}

.close {
    background-color: #050000;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    padding: 10px;
  }

.seccionSecundaria {
    text-align: left;
    margin-top: 5%;
    font-size: 18px;
}

.productosInteres {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    font-size: 12px;
}

.image {
    width: 80%;
    border: solid 1px blue;
    border-radius: 5%;
}

.image:hover {
    box-shadow: 0px 0px 10px blueviolet;
}

@media (min-width: 768px) {
    .imageProducto {
        width: 50%;
        height: 50%;
        border: solid 1px blue;
        border-radius: 5%;
        margin: 10% 0% 0% 5%;
    }

    .seccionPrincipal {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
        flex-direction: row;
        padding: 2%;
        margin-bottom: 20px;
    }

    .producto>div {
        border: solid 1px blue;
        border-radius: 20px;
    }

    .producto>div:hover {
        box-shadow: 0px 0px 10px blueviolet;
        background-color: #2D4263;
    }

    .informacion {
        height: 150px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .amount {
        display: flex;
        justify-content: space-around;
    }

    .amount button {
        width: 20vw;
        height: 25px;
        font-size: 18px;
        color: white;
        font-weight: bold;
        border-radius: 6px;
        background: linear-gradient(to right, rgb(2, 2, 75), rgb(5, 5, 150));
    }

    .tarjetas {
        width: 20%;
        height: 20%;
    }

    .pagos {
        font-size: 18px;
    }

    .seccionSecundaria {
        text-align: left;
        margin-top: 5%;
        font-size: 22px;
    }

    .productosInteres {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        font-size: 18px;
    }

    .image {
        width: 80%;
        border: solid 1px blue;
        border-radius: 5%;
    }

    .image:hover {
        box-shadow: 0px 0px 10px blueviolet;
    }
}