* {
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ---------------------------MAIN---------------------------- */

main {
    background: linear-gradient(to right, rgb(174, 189, 227), rgb(187, 159, 148));
    text-align: center;
    width: 100%;
    padding: 15px;
}

.seccionPrincipal {
    width: 100%;
    display:flex;
    flex-direction: row;   
    padding: 2%;
}

.pagos{
    display: flex;
    flex-direction: column;
    margin: 50% 0% 0% 0%;
}

.producto p {
    text-align: left;
    margin-left: 18%;
    font-size: 13px;
}

.column1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    margin: 10% 0% 0% 0%;
}

.heart:hover {
    color: (226, 43, 43);
    box-shadow: 0px 0px 10px rgb(245, 4, 44);
}

.cart{
    margin: 32% 5% 32% 5%;}

.cart:hover{    
    box-shadow: 0px 0px 10px blueviolet;
} 

.imageProducto{
    width: 70%;
    border: solid 1px blue;
    border-radius: 5%;
    margin: 10% 0% 0% 5%;
}

.imageProducto:hover{
    box-shadow: 0px 0px 10px blueviolet;
}

 .seccionSecundaria {
        text-align: left;
        margin-top: 5%;
        font-size: 13px;
}
    
.productosInteres {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        font-size: 10px;
}

.image{
    width: 80%;
    border: solid 1px blue;
    border-radius: 5%;
}

.image:hover{
    box-shadow: 0px 0px 10px blueviolet;
}

@media (max-width: 768px){
   
    .pagos{
        display: none;
    }
}

@media (min-width: 768px){
    .seccionPrincipal {
        width: 100%;
        display:flex;
        flex-direction: row;   
        padding: 2%;
    }
    
    .pagos{
        display: flex;
        flex-direction: column;
        margin: 50% 0% 0% 0%;
    }
    
    .producto p {
        text-align: left;
        margin-left: 18%;
        font-size: 22px;
    }
    
    .column1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        margin: 10% 0% 0% 0%;
    }
    
    .heart:hover {
        color: (226, 43, 43);
        box-shadow: 0px 0px 10px rgb(245, 4, 44);
    }
    
    .cart{
        margin: 32% 5% 32% 5%;}
    
    .cart:hover{    
        box-shadow: 0px 0px 10px blueviolet;
    } 
    
    .imageProducto{
        width: 70%;
        border: solid 1px blue;
        border-radius: 5%;
        margin: 10% 0% 0% 5%;
    }
    
    .imageProducto:hover{
        box-shadow: 0px 0px 10px blueviolet;
    }
    
     .seccionSecundaria {
            text-align: left;
            margin-top: 5%;
            font-size: 22px;
    }
        
    .productosInteres {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: left;
            font-size: 22px;
    }
    
    .image{
        width: 80%;
        border: solid 1px blue;
        border-radius: 5%;
    }
    
    .image:hover{
        box-shadow: 0px 0px 10px blueviolet;
    }    
}
