* {
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ---------------------------HEADER---------------------------- */


html {
    width: 100%;
    text-align: center;
    height: 100px;
    display: flex;
}


/* ---------------------Main------------- */

 .menu-var{
/*    margin: 6% 3% 19% 2%; */
    font-size: 12px;
    display: flex;
    flex-direction: row;
}    


.waist {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 8% -6% 0% 7%;
    text-align: center;
    border:1px solid #d9d9d9;
    height:30px;
    /* overflow: hidden;
    width: 230px;
    position:relative; */
 }

 select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 25px;
 }

 
.product{
    width: 40%;
    display:flex;
    flex-direction: row;     
 } 

.image{
    width: 150px;
    border: solid 1px blue;
    border-radius: 5%;
    margin: 30% -54% 100% 29%;
}

.image:hover{
    box-shadow: 0px 0px 10px blueviolet;

}
.icons{
    padding: 19%;
    margin: 15% 25% 0% 43%;
}


.heart:hover{
    color rgb(226, 43, 43);

}

.cart{
    margin: 32% 5% 32% 5%;
} */


 
.input-color{
    column-count: 2;
    font-size: 10px;
}

/* seleccion color */

.label-black{
    color:white;
    width: 10%
} 
.button-black{
    color: white;
    width: 10%
} 


.label-black{
    color:black;
    width: 10%
} 
.button-black{
    color: black;
    width: 10%
} 

.label-red{
    color:red;
}

.button-red{
    color:red;
    width: 10%;
}


.label-blue{
    color:blue;
    width: 10%
} 
.button-blue{
    color:blue;
    width: 10%
} 


/* descripción prod */
 .description{        
    position: fixed;
    bottom: 32vh;
    left: -3vw;
    width: 110%;
    font-size: 11px;
}

.description-price{
    color: blueviolet;
    font-style: italic;
} */ 

/* detalle prod */

 .detail{
    position: fixed;
    bottom: 19vh;
    width: 90%;
}


/* ---------------------------FOOTER---------------------------- */
