* {
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ---------------------Main------------- */

main {background: linear-gradient(to right, rgb(174, 189, 227), rgb(187, 159, 148))}

.blank-field{
    text-align: center;
    padding: 2%;
}

.product{     
    width: 100%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    border-style: ridge;
    border-color:beige;
}

 /* --------------imagen--------- */
.image{    
    width: 30vw;
    border: solid 2px grey;
    border-radius: 5%;
    margin: 5%;
}

.image:hover{
    box-shadow: 0px 0px 10px blueviolet;
    
  }


.name {        
    color: darkblue;
    font-size: 12px;
    text-align: center;
    background: gainsboro;
    margin-bottom: 27%;
    padding: 2%;
    margin-top: auto;
    border-radius: 5%;
}

.p {
    font-size: 13px;
    color: darkblue;
    width: max-content;
    
}

.price {
    color: rgb(89, 49, 126);
    font-size: 13px;
    font-weight: bold;
    display: grid;
    align-content: space-evenly;}  

.category {
    color: darkblue;
    font-size: 12px;
}

.color {
    color: darkblue;
    font-size: 12px;
}

.size {
    color: darkblue;
    font-size: 12px;
}

.other-date{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.description {
    color: darkblue;
    font-size: 12px;
    font-style: italic;
    padding: 5%;
    display: contents;
}

.detail-button{
    margin:auto;
}

.detail-button button{
    width: 35vw;
    height: 23px;
    font-size: 13px;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 8px;
    margin-top: 8px;
    background: linear-gradient(to right, rgb(2, 2, 75), rgb(5, 5, 150));
}

.delete-button button:hover {
    background-color: rgb(240, 237, 237)
}




/* -------- tablet--------- */

@media (min-width: 768px){
   
    .imageList{
        display: block;
        margin: 0;
        padding: 2%;
    }

     .column1List {    
        display: flex;
        padding: 4%;
        width: 50%;
        font-size: 28px;
        align-items: center;
    }  
    .product-logoList{
        margin: 0% 0% 0% 100%;
    }

    .waistList{
        width: 100%;  
    }

    .waistList h3 {
            font-size: 20px;
    }

    .waistList select{    
        height: 100%;
        width: 230%;
        font-size: 16px;
        text-align: end;
    }

    .descriptionList{
        width: 120%;
        padding: 10%;
    }

    .description-nameList{
        font-size: 24px;
    }
    
    .description-priceList{
        font-size: 24px;
    }

    .description-codeList{
        font-size:16px;
    }

    .column2List {    
        display: flex;
        flex-wrap: wrap;
        width: 130%;
        align-items: flex-end;
    }

    .detail-buttonList button {
        height: 30px;
        font-size: 16px;
    }


    .detailList h4{    
        width: 128%;
        font-size: 18px;
    }  

/* -------color---- */

    .colorList{
        width: 100%;
        margin: 0% 0% 0% 0%;
    }


    .colorList h3{
        font-size: 20px;
        margin: -10% 10% -30% 0%;
}


}
  

/* -------- desktop------- */
@media (min-width: 1024px){
    .columnList {
    width: 100%;
    margin: 0%;
    padding: 10%;
    }

    .detailList h4{    
        padding: 5%;
        }  


}
