* {
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ---------------------------HEADER---------------------------- */


/* html {
    width: 100%;
    text-align: center;
    height: 100px;
    display: flex;
} */

a {
    text-decoration: none;
  }
  
  header {
    background-color: #225be0;
    width: 100%;
    padding-bottom: 10px;
    color: aliceblue;
  
  }
  
  input { 
    font-size: 1rem;
    color: darkgray; 
  }
  
  .main-header {
    border: #1259c3;
  }
  
  .main-header h3 {
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    margin: 5px 0;
    background-color: #052b63;
  }
  
  .header-input {
    margin-left: 20px;
  }
  
  .header-input-botton {
    display: flex;
    margin-top: 10px;
  }
  
  .header-ul {
    margin-top: 10px;
  }
  
  .main-header-top-bar {
    padding: 10px;
  }
  
  .main-header-bottom-bar{
    padding: 10px;
    background-color: black;
    display: flex;
  }
  
  .main-navbar{
    display: none;
  }
  
  .main-navbar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
  }
  
  .header-logo {
    width: 250px;
  }
  
  .header-text {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    font-weight: lighter;
  }
  
  .header-right-bar {
    list-style: none;
    display: flex;
    margin-top: 10px;
  }
  
  .header-right-bar li {
    margin: 0 10px;
  }
  
  .header-right-bar li a{
    font-size: 20px;
  }
  
  li a {
    color: aliceblue;
    font-size: 12px;
  }
  
  .burger-menu {
    width: 35px;
    height: 35px;
    margin: 10px auto;
    background-color: #1259c3;
    border-radius: 8px;
  }
  
  .fa-bars-old {
    font-size: 18px;
    color: white;
    text-align: center;
    margin-left: 9px;
    margin-top: 8px;
  }
  
  .hamburguer-button {
    background-color: #1259c3;
    color: white;
    display: block;
    max-width: 30px;
    max-height: 30px;
    padding: 5px 0;
    margin-top: 20px;
    margin: auto;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
  }


/* ---------------------Main------------- */


.product{
    width: 40%;
    display:flex;
    flex-direction: row;     
    padding: 2%;
} 

 /* --------------imagen--------- */
.image{    
    width: 140%;
    height: 140%;
    border: solid 2px grey;
    border-radius: 5%;
    margin: 32% 0% 0% 5%;
}

.image:hover{
    box-shadow: 0px 0px 10px blueviolet;
}


/* --------------------- */
.column1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 15% 0% 0% 0%;
    padding: 4%;
}


/* ------------iconos--------- */
.icons{
    padding: 9%;
    margin: 31% 0% 0% 10%;
}


.heart:hover {
    color: rgb(226, 43, 43);
    box-shadow: 0px 0px 10px rgb(245, 4, 44);
}

.cart{
    margin: 32% 5% 32% 5%;
}

.cart:hover{    
    box-shadow: 0px 0px 10px blueviolet;
 } 

/* ----------- talles------------ */

.waist {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 40% 0% 0% 10%;
    text-align: center;
    border: 1px solid #d9d9d9;
    height: 30px;
    /* position: relative; */
}

 .waist h3{
    color: darkblue;
    text-decoration: underline;
    font-size: 12px;
 }

 select {
    background: transparent;
    border: none;
    font-size: 10px;
    height: 20px;
    padding: 5px;
    width: 25px;
 }

 .select:hover {
    border-color: darkblue;
 }

/* --------------columna 2------- */
 .column2{    
    display: flex;
    flex-wrap: wrap;
    margin: 4% 0% 0% 0%;
    padding: 4%;}


 /* ----------descripción prod ----------*/
.description{        
    width: 120%;
    height: 35%;
    margin: 37% 0% 0% 0%;
    color: darkblue;
    text-align: center;
    background: gainsboro;
    padding: 5%;
}

.description-name{
    font-size: 13px;
    padding: 5%;
    width: max-content;
}

.description-price{
    font-size: 11px;
    color: rgb(89, 49, 126);
    font-weight: bold;
}  

.description-code{
    font-size: 10px;
    
}  
/*------------cantidad---------  */

.amount{
    width: 100%;
    margin: 16% 0% 0% 17%;

}
.amount h3{
    font-size: 12px;
    text-decoration: underline;
    color: darkblue;
}


/* seleccion color */


.color{
    display: flex;
    width: 86%;
    font-size: 10px;
    color: darkblue;
    margin: 24% 0% 0% -15%;
}

.color h3{
    font-size: 12px;
    text-decoration: underline;
    color: darkblue;
}


.input-color{
    font-size: 12px;
}

.label-white{
    font-size: 10px;
} 
.button-white{
    width: 300%;
} 

/* detalle prod */

.detail{  
    width: 90%;
    height: 90%;
 }

.detail h4{
    font-size: 10px;
    width: 200%;
    margin: 0% 0% 0% -70%;
    color: darkblue;
    text-align: center;
}

 .product2{
    display: none;
}

/* -------- tablet--------- */

@media (min-width: 768px){
   
    .image{
        display: block;
        margin: 0;
        padding: 2%;
    }
    .column1 {    
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: -51% 14% 0% 12%;
        padding: 4%;
        width: 100%;
        font-size: 28px;
    }  
   
    .icons{    
        padding: 9%;
        margin: 0% 0% 0% 0%;
        width: 100%;
        font-size: 28px;
    }
    
    .waist{
        width: 100%;  
        margin: 65% 0% 0% 10%;
    }

    .waist h3 {
        font-size: 20px;
    }

    .waist select{    
        height: 100%;
        width: 230%;
        margin: 0% 0% 0% -50%;
        font-size: 16px;
    }

    .column2 {
        display: flex;
        flex-wrap: wrap;
        margin: 0% 0% 0% 8%;
        padding: 10%;
        font-size: 20px;
    }

    .description{
        width: 120%;
        margin: 0;
    }
    .description-name{
    font-size:24px;
    }
    .description-code{
        font-size:16px;
    }

    .amount{
        width: 100%;
        height: 26%;
    }
    .amount h3{
     width: 100%;
        font-size: 20px;
    }

    .amount select{
        height: 35%;
        width: 50%;
        font-size: 16px;
    }

    .color{
        width: 100%;
        margin: 0% 0% 0% 0%;
    }


.color h3{
    font-size: 20px;
    margin: -10% 10% -30% 0%;
}

.input-color{
    width: 100%;
}

.button-white {
    width: 115%;
}
.detail h4{    
    width: 200%;
    font-size: 20px;
    margin: 0% 0% 0% -70%;
}
}
/* product2{
    display:block
}  */

/* -------- desktop------- */
@media (min-width: 1200px){
    .column1 {
    width: 100%;
    margin: 0%;
    padding: 24%;
    }
}

/* -------------footer---------- */

footer {
    background-color: #1259c3;
    color: aliceblue;
  }
  
  .footer-div-icon {
    width: 2em;
    height: 2em;
    margin: 5px auto;
    margin-bottom: 10px;
  }
  
  .footer-icon {
    color: #1259c3;
    font-size: 2em;
  }
  
  .footer-title {
    text-align: center;
  }
  
  .footer-text {
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
  }
  
  .footer-div {
    margin: 20px;
  }
  
  .footer-logo {
    width: 150px;
    padding: 2%;
  }
  
  @media (min-width: 361px) {
  
  }
  
  @media(min-width: 768px) {
    .main-navbar {
      max-width: 1200px;
      margin: auto;
    }
    .main-header-top-bar{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .header-text {
      max-width: 300px;
      text-align: right;
    }
  
    .hamburguer-button {
      display: none;
    }
    .main-navbar {
      display: flex;
    }
    .main-navbar ul {
      display: flex;
    }
    .main-navbar li {
      margin: 0 8px;
    }
  
    footer .footer-main-div{
      display: flex;
    }
  
    footer .footer-div {
      display: flex;
      flex-direction: column;
    }
  
    footer .footer-icon:hover{
      color:  #3498db;
    }
  
  }
  
  @media (min-width: 1200px) {
    .main-header-top-bar, .main-navbar {
      max-width: 1200px;
      margin: auto;
    }
    .main-header-top-bar{
      display: flex;
      align-items: center;
    }
    .main-navbar {
      margin-top: 20px;
    }
  
    .header-text {
      max-width: none;
      text-align: right;
      font-size: 20px;
      margin: 0;
    }
  
    .main-navbar li {
      margin: 0 10px;
    }
  
    .main-navbar a {
      font-size: 19px;
    }
  }