* {
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ---------------------------HEADER---------------------------- */


html {
    width: 100%;
    background-color:#f9cc86;
    text-align: center;
    height: 100px;
    display: flex;
}


/* ---------------------Main------------- */

body {
    width: 100%;
    background-color:#f9cc86;
    height: 600px;
}

.menu-var{
    margin: 36% 3% 19% 2%;
    background-color: #b2b3db;
    font-size: 12px;
    display:flex;
    flex-direction: row;
    /* display:block;
    flex-direction: column; 
     */
}    


.waist {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 8% -6% 0% 7%;
    text-align: center;
}


.letter {    
    border: solid 1px blue;
    border-radius: 5%;
    padding: 4%;
    font-size: 10;
}

.product{
    width: 40%;
    display:flex;
    flex-direction: row;
     
    }

.image{    
    max-width: 99%;
    max-height: 40%;
    border: solid 1px blue;
    border-radius: 5%;
    margin: 36% -44% 90% 39%;
}

.icons{
    padding: 9%;
    margin: 25% 25% 0% 43%;
}

.cart{
    margin: 32% 5% 32% 5%;
}

.input-color{
    column-count: 2;
    font-size: 10px;
}

.white{
    color: white;
}

.black{
    color: black;
}

.red{
    color:red;
}

.blue{
    color:blue;
}

/* ---------------------------FOOTER---------------------------- */

footer {
    width: 100%;
    background-color: #f9cc86;
    text-align: center;
    height: 100PX;
} 