* {
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ---------------------------HEADER---------------------------- */

header {
    width: 100%;
    background-color: yellow;
    text-align: center;
    height: 100px;
}

/* ---------------------------MAIN---------------------------- */
main {
    background: linear-gradient(to right, rgb(174, 189, 227), rgb(187, 159, 148));
    text-align: center;
    width: 100%;
    padding: 15px;
}

.principal-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: white;
    opacity: 0.6;
    border-radius: 6px;
}

.content-box-register form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

.content-box-register form div {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: center;
    position: relative;
    width: 100%;
}

.content-box-register form div input {
    width: 100%;
    height: 30px;
    border-radius: 6px;
    text-align: center;
}

.content-box-register form div label {
    position: relative;
    bottom: 4px;
    font-size: 14px;
    font-weight: bold;
}

.content-box-register form div select {
    width: 100%;
    height: 30px;
    border-radius: 6px;
}

.content-box-register form div i {
    position: absolute;
    bottom: 7px;
    left: 10px;
    opacity: 0.2;
}

.title {
    width: 100%;
    padding: 10px;
}

.title-register {
    font-weight: bold;
    color: rgb(3, 3, 113);
    font-size: 20px;
}

.terms-box {
    width: 100%;
    height: 15%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.terms-box label {
    margin-left: 2%;
    text-align: center;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.terms-box label a {
    font-weight: bold;
    text-decoration: underline;
}

.terms-box label a:visited {
    color: rgb(78, 4, 147);
}


.register-button {
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.register-button button {
    width: 60%;
    height: 30px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 8px;
    margin-top: 8px;
    background: linear-gradient(to right, rgb(2, 2, 75), rgb(5, 5, 150));
}

.register-button button:hover {
    background-color: rgb(240, 237, 237)
}

@media (min-width: 769px) {
    .principal-box {
        margin-left: 20%;
        margin-right: 20%;
        justify-content: center;
    }
}

/* ---------------------------FOOTER---------------------------- */

footer {
    width: 100%;
    background-color: yellow;
    text-align: center;
    height: 100PX;
}

