* {
  font-family: Roboto;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  margin-top: 145px;
}

/* ---------------------Main------------- */

body {
  background: linear-gradient(to right, rgb(181, 200, 247), rgb(212, 235, 249));
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
   /* Altura del contenedor */
  margin: 2em;
  padding: 2em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
  width: 25em;
  text-align: center;
  background-color: #f5f5f5;
  padding: 1em;
}

.card img {
  width: 15em;
  height: 15em;
  transition: 0.3s;
  box-shadow: 10px 5px 5px teal;
  border-radius: 50%;
  border: solid 2px grey;
  object-fit: cover;
}
.card img:hover{
  box-shadow: 0px 0px 10px blueviolet;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  align-self: center;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: auto;
}

.btn {
  display: inline-block;
  background: linear-gradient(to right, #061b3b, #052b63);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 1em;
  margin-left: 1em;
}

.btn:hover {
  background: linear-gradient(to right, #052b63, #1259c3);
}

.card-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 1em 0;
}
.card-item h3{
  font-weight: bolder;
  margin-right: 0.5em;
  font-size: 16px;
  align-self: center;
}
* {
  font-family: Roboto;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  margin-top: 145px;
}

/* ---------------------Main------------- */

body {
  background: linear-gradient(to right, rgb(181, 200, 247), rgb(212, 235, 249));
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
   /* Altura del contenedor */
  margin: 2em;
  padding: 2em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
  width: 25em;
  text-align: center;
  background-color: #f5f5f5;
  padding: 1em;
}

.card img {
  width: 15em;
  height: 15em;
  transition: 0.3s;
  box-shadow: 10px 5px 5px teal;
  border-radius: 50%;
  border: solid 2px grey;
  object-fit: cover;
}
.card img:hover{
  box-shadow: 0px 0px 10px blueviolet;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  align-self: center;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: auto;
}

.btn {
  display: inline-block;
  background: linear-gradient(to right, #061b3b, #052b63);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 1em;
  margin-left: 1em;
}

.btn:hover {
  background: linear-gradient(to right, #052b63, #1259c3);
}

.card-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 1em 0;
}
.card-item h3{
  font-weight: bolder;
  margin-right: 0.5em;
  font-size: 16px;
  align-self: center;
}
