* {
  font-family: Roboto;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  margin-top: 145px;
}

/* ---------------------Main------------- */

body {
  background: linear-gradient(to right, rgb(201, 216, 255), rgb(255, 247, 205));
}

/* --------------imagen--------- */
.image{    
  width: 200px;
  border: solid 2px grey;
  border-radius: 50%;
  margin: 5%;
  box-shadow: 10px 5px 5px teal;
  margin-left: 22%;
}

.image:hover{
  box-shadow: 0px 0px 10px blueviolet;
}

.name {        
  color: #052b63;
  font-size: 12px;
  text-align: center;
  background: gainsboro;
  padding: 1%;
  margin-top: auto;
  border-radius: 5%;
  margin-left: 19%;
}

.p {
  font-size: 13px;
  color: #052b63;
  width: max-content;
  
}

.description p {
  margin-bottom: 30px;
}

.price {
  color: #052b63;
  font-size: 13px;
  font-weight: bold;
}  

.category {
  color: #052b63;
  font-size: 12px;
  padding: 5px 0px 5px 0px;
}

.color {
  color: #052b63;
  font-size: 12px;
  padding: 5px 0px 5px 0px;
}

.size {
  color: #052b63;
  font-size: 12px;
  padding: 5px 0px 5px 0px;
}

.description {
  color: #052b63;
  font-size: 12px;
  font-style: italic;
  padding: 5px 20px 5px 20px;
  text-align: center;
  margin-top: 0;
}

.detail-button{
  text-align: center;
}

.detail-button button{
  background: linear-gradient(to right, #061b3b, #052b63);
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.detail-button button:hover {
  background: linear-gradient(to right, #052b63, #1259c3);
}

.delete-button button:hover {
  background-color: rgb(240, 237, 237)
}

.detail-button a {
  font-weight: lighter;
  color: white;
}

/*- New implementation-*/
.product-container {
  display: flex;
  align-items: center;
}
.short-information {
  display: flex;
  flex-direction: column;
}

.main-container{
  border-style: ridge;
  border-color:rgb(219, 219, 185);
}

.desktop-description {
  display: none;
}

.desktop-buttons {
  display: none;
}

.product-title {
  background: gainsboro;
  display: flex;
  align-items: center;
  padding: 5px 5%;
  padding-top: 1em;
}



/* -------- tablet--------- */

@media (min-width: 768px){

  main {
    margin-top: 130px;
  }
  .desktop-description{
    display: inline-block;
  }

  .text-property {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .text-property h3{
    color: #052b63;
    font-style: normal;
  }
  .text-property h4{
    color: #052b63;
    font-style: normal;
    font-size: 13px;
    padding: 3px 0px 0px 10px;
  }
  .desktop-buttons {
    display: inline-block;
    text-align: start;
    margin-top: 5%;
    margin-left: 0;
    margin-right: 50px;
  }
  .desktop-buttons button{
    padding: 10px 25px;
    margin-right: 10px;
  }
  .mobile-buttons {
    display: none;
  }

}

/* -------- desktop------- */
@media (min-width: 1024px){

  /* .detailList h4{    
      padding: 5%;
  }   */
  .image{    
    width: 400px;
    height: 400px;
    margin: 3% 5% 3% 10%;
    
  }
  .name {        
    padding: 5px;
  }
  .product-container {
    align-items: start;
  }
  .product-information {
    align-items: center;
  }
  .desktop-description{
    display: inline-block;
    padding: 110px 90px 5px 0px;
  }
  .text-property h3{
    font-size: 18px;
  }
  .text-property h4{
    font-size: 18px;
  }
    .desktop-buttons {
    display: inline-block;
    text-align: start;
    margin-top: 5%;
    margin-left: 0;
    margin-right: 105px;
  }
  .desktop-buttons button{
    padding: 10px 25px;
    margin-right: 10px;
  }
}