<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <section>
      <div class="banner-img">
        <a href="#"><img src="https://drive.google.com/uc?export=view&id=14fW3ydJX3ine0DGGQPrnTe6qv-oSJY0i" alt="" /></a>
        <a href="#"><img src="https://drive.google.com/uc?export=view&id=1mjwjvE9rmxUfKPHipiVjm1iBTRAWVGCo" alt="" /></a>
      </div>
    </section>

    <main>
      
      <section class="main-section">
        <h3 class="main-section-tittle">Los más recientes</h3>
        <div id="newest-products">
        </div>
        
      </section>
  
      <section class="main-section" >
        <h3 class="main-section-tittle">Recomendados para vos</h3>
        <div id="recommended-products">
        </div>
      </section>
      
      <section class="main-section">
        <h3 class="main-section-tittle">Todos Los Productos</h3>
        <div id="products">
        </div>
      </section>

      <section class="main-section">
        <h3 class="main-section-tittle">Navega por marcas</h3>
        <div class="marcas">
          <img class="component-image" src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dw1c5d6f37/marcas/logonikeswoosh2.png">
          <img class="component-image" src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dw005ac091/marcas/logoasics.png">
          <img class="component-image" src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dw4d2f38f7/marcas/logoadidasperformance.png">
          <img class="component-image" src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dwb1487def/marcas/logofila2.png">
          <img class="component-image" src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dw999e12e7/marcas/logoreebok2.png">
          <img class="component-image" src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dw9d1ee34d/marcas/logopuma2.png">
          <img class="component-image" src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dw197437c2/marcas/logounderarmour.png">
          <img class="component-image" src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dw3e0d4b26/marcas/logolecoqsportif.png">

        </div>
      </section>

      <section>
        <div class="banner-img-2">
          <!-- <a href="#"><img src="https://drive.google.com/uc?export=view&id=1UeQmsg_jekeZQbUR_AkSK97yRvAVv48H" alt="" /></a> -->
          <a href="#"><img src="images/index/footer-img.jpg" alt="" /></a>
          <a href="#"><img src="images/index/footer-img-2.jpg" alt="" /></a>
          <a href="#"><img src="images/index/footer-img-3.jpg" alt="" /></a>
        </div>
      </section>
  
    </main>

    <%- include('./partials/footer') %>
    <script src="/js/header.js"></script>
    <script src="/js/cart/common.js"></script>
    <script src="/js/cart/products.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
