<footer>
  <div class="footer-main-div">
    <div class="footer-div">
      <img class="footer-logo" src="./design/logo_small.png" alt="" />
    </div>
    <div class="footer-div">
      <h3 class="footer-title">Institucional</h3>
      <a href="#" class="footer-text">Quiénes Somos</a>
      <a href="#" class="footer-text">Políticas de Privacidad</a>
      <a href="#" class="footer-text">Términos y Condiciones</a>
    </div>

    <div class="footer-div">
      <h3 class="footer-title">Seguinos</h3>
      <ul class="footer-social-bar">
        <li>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </li>
      </ul>
    </div>

    <div class="footer-div">
      <h3 class="footer-title">Eventos</h3>
      <a href="#" class="footer-text">Black Friday</a>
      <a href="#" class="footer-text">Cyberlunes</a>
      <a href="#" class="footer-text">Hot Sale</a>
    </div>
  </div>

  <h4 class="footer-text">
    Copyright © 2022-2023 All-sports Todos los derechos reservados.
  </h4>
</footer>