<header class="main-header">
  <div class="marquee-container">
    <h3>★   ENVIO GRATIS A TODO EL PAÍS   ★</h3>
    <h3>★   ¡3 Y 6 CUOTAS SIN INTERES! ★</h3>
    <h3>★   ENVIO GRATIS A TODO EL PAÍS   ★</h3>
  </div>
  <div class="main-header-top-bar">
    <div class="main-header-top-bar-left">
      <div class="header-top-bar-container">
        <a href="/"><img class="header-logo" src="/design/logo_white_large.png" alt="" /></a>
      </div>
  
      <div class="header-input-botton">
        <!-- <input type="input" class="header-input" placeholder="Buscar..." />
        <button type="submit" class="header-search-button">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button> -->

        <!-- nuevo -->

            <form action="/products/searchHeader" method="GET">
              <div class="header-input-botton">
                <input 
                  class="header-input" 
                  type="text" 
                  placeholder="Buscar..."
                  name="q"
                  placeholder="Buscar producto..."
                  value=<%= locals.search? search:"" %>
                >
                <button type="submit" class="header-search-button">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </div>
            </form>


        <!-- nuevo -->


      </div>

    </div>

    <ul class="header-right-bar">
      <% if (locals.userLogged) { %>
        <% if (locals.userLogged.role_id == 2) { %>
          <ul class="header-right-bar admin-buttons">
            <li>
              <a href="/users?page=1" class="icon-container"> 
                  <i class="fa-solid fa-users"></i> 
              </a>
            </li>
            <li>
              <a href="/products?page=1" class="icon-container">
                  <i class="fa-solid fa-box-archive"></i>
              </a>
            </li>
          </ul>
        <% } %>
          <li>
            <a href="/profile" class="icon-container">
              <img src="/images/users/<%=locals.userLogged.image%>" alt="" />
            </a>
          </li>
          <li>
            <a href="/productCart" class="icon-container"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
          <li>
            <a href="#" class="icon-container"><i class="fa-regular fa-circle-question"></i></a>
          </li>
          <li>
            <a href="/logout" class="icon-container" id="logout-button"><i class="fa-solid fa-right-to-bracket"></i></a>
          </li>
        <% } else { %>
          <li>
            <a href="/login" class="icon-container"><i class="fa-solid fa-user"></i></a>
          </li>
          <li>
            <a href="/productCart" class="icon-container"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
          <li>
            <a href="#" class="icon-container"><i class="fa-regular fa-circle-question"></i></a>
          </li>
        <% } %>
    </ul>
  </div>

  <div class="main-header-bottom-bar main-navbar-hide">
    <nav class="main-navbar">
      <ul>
        <li><a href="/products/productMenu">New In</a></li>
        
        <ul class="dropdown">
            <li>Marcas
              <ul class="dropdown-content">
                <li ><a class = "dropdownLi" href="/products/productMenu">Adidas </a></li>
                <li ><a class = "dropdownLi" href="/products/productMenu.ejs">Nike   </a></li>
                <li ><a class = "dropdownLi" href="../products/productMenu.ejs">Reebok </a></li>
                <!-- Agrega más opciones dentro de <ul class="dropdown-content"> según sea necesario -->
              </ul>
            </li>
          </ul>

          <!-- nuevo -->


            <ul class="dropdown">
              <li>Categorías
                <ul class="dropdown-content">
                  <li ><a class = "dropdownLi" href="../products/productMenu.ejs">Mujeres</a></li>
                  <li ><a class = "dropdownLi" href="../products/productMenu.ejs">Niños  </a></li>
                  <li ><a class = "dropdownLi" href="../products/productMenu.ejs">Hombres</a></li>
                  <!-- Agrega más opciones dentro de <ul class="dropdown-content"> según sea necesario -->
                </ul>
              </li>
            </ul>

            <ul class="dropdown">
              <li>Estilos
                <ul class="dropdown-content">
                  <li ><a class = "dropdownLi" href="../products/productMenu.ejs">Deportivos </a></li>
                  <li ><a class = "dropdownLi" href="/productMenu">Urbano  </a></li>
                  <li ><a class = "dropdownLi" href="/productMenu">Running  </a></li>
                  <!-- Agrega más opciones dentro de <ul class="dropdown-content"> según sea necesario -->
                </ul>
              </li>
            </ul>

            
            
            <ul> 
          
              <li><a href="/productMenu">SALE</a></li>
            </ul>
    




          </body>
          


      </ul>
    </nav>
  </div>

  <div class="main-header-mobile-container">
    <div class="header-left-navbar">
      <a href="#"><i class="fa-solid fa-bars"></i></a>
    </div>

    <div class="header-top-bar-container">
      <a href="/"><img class="header-logo" src="/design/logo_white_large.png" alt="" /></a>
    </div>

    <ul class="header-right-navbar">
      <li>
        <a href="/login" class="icon-container"><i class="fa-solid fa-user"></i></a>
      </li>
      <li>
        <a href="/productCart" class="icon-container"><i class="fa-solid fa-cart-shopping"></i></a>
      </li>
    </ul>
  </div>

  <div class="site-search">
    <button type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <input type="input" class="header-input" placeholder="Buscar..." />
  

  
  </div>
</header>