<header class="main-header">
  <div class="marquee-container">
    <h3>★   ENVIO GRATIS A TODO EL PAÍS   ★</h3>
    <h3>★   ¡3 Y 6 CUOTAS SIN INTERES! ★</h3>
    <h3>★   ENVIO GRATIS A TODO EL PAÍS   ★</h3>
  </div>

  <div class="main-header-top-bar">
    <div class="header-top-bar-container">
      <a href="/"><img class="header-logo" src="/design/logo_white_large.png" alt="" /></a>
    </div>

    <div class="header-input-botton">
      <input type="input" class="header-input" placeholder="Buscar..." />
      <button type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>

    <ul class="header-right-bar">
      <ul class="header-right-bar admin-buttons">
        <li>
          <a href="/users" class="icon-container"> 
              <i class="fa-solid fa-users"></i> 
          </a>
        </li>
        <li>
          <a href="/products" class="icon-container">
              <i class="fa-solid fa-box-archive"></i>
          </a>
        </li>
        <!-- <li>
          <button onClick="location.href='/productRegister'" type="submit" class="create-button">Create</button>
        </li> -->
      </ul>
      <li>
        <a href="/login" class="icon-container"><i class="fa-solid fa-user"></i></a>
      </li>
      <li>
        <a href="/productCart" class="icon-container"><i class="fa-solid fa-cart-shopping"></i></a>
      </li>
      <li>
        <a href="#" class="icon-container"><i class="fa-regular fa-circle-question"></i></a>
      </li>
    </ul>
  </div>

  <div class="main-header-bottom-bar">
    <nav class="main-navbar">
      <ul>
        <li><a href="#">New In</a></li>
        <li><a href="#">Categorias</a></li>
        <!-- <li><a href="#">Hombre</a></li> -->
        <!-- <li><a href="#">Mujer</a></li> -->
        <li><a href="#">Marcas</a></li>
        <li><a href="#">SALE</a></li>
        <!-- <li><a href="#">Niños</a></li> -->
      </ul>
    </nav>
  </div>

  <div class="main-header-mobile-container">
    <div class="header-left-navbar">
      <a href="#"><i class="fa-solid fa-bars"></i></a>
    </div>

    <div class="header-top-bar-container">
      <a href="/"><img class="header-logo" src="/design/logo_white_large.png" alt="" /></a>
    </div>

    <ul class="header-right-navbar">
      <li>
        <a href="/register" class="icon-container"><i class="fa-solid fa-user"></i></a>
      </li>
      <li>
        <a href="/productCart" class="icon-container"><i class="fa-solid fa-cart-shopping"></i></a>
      </li>
    </ul>
  </div>

  <div class="site-search">
    <button type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <input type="input" class="header-input" placeholder="Buscar..." />
  </div>
</header>