<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
  
    <%- include ("../partials/header.ejs") %> 

    <main>
        <div class="login-form">
          <h3 class="title-form">
            Iniciar Sesión
          </h3>
          <form action="/" method="">

            <div class="email-form">
              <label for="username">Email</label>
              <input type="email" name="email" id="useremail" required>
              <i class="fa-solid fa-envelope"></i>
            </div>

            <div class="password-form">
              <label for="username">Contraseña</label>
              <input type="password" name="password" id="userpassword" required>
              <i class="fa-solid fa-lock"></i>
            </div>

            <label class="remember-me"><input type="checkbox" name="accepted-promotions" value="">
              Recordarme  
            </label>

            <div class="forget-pw">
              <a href="#">¿Olvidaste tu contraseña?</a>
            </div>

            <div class="no-account">
              <h4>¿No tienes cuenta aún?</h4>
              <a class="go-register" href="/register">Regístrate aquí</a>
            </div>

            <div class="login-button">
              <button type="submit">INICIAR SESIÓN</button>
            </div>

          </form>
          
        </div>
    </main>

    <%- include ("../partials/footer.ejs") %> 
   
  </body>
</html>